.textarea-input-container textarea {
    background-color: var(--white);
    border: solid 1px var(--text-secondary);
    border-radius: 8px;
    height: 90px;
    color: var(--text-primary);
    padding: 10px;
}

.textarea-input-container textarea::placeholder{
    color: var(--primary-400);
}

.textarea-input-container textarea:focus {
    outline: none;
}