.password-input-container .input-container {
    position: relative;
    width: 100%;
}

.password-input-container .input-container input {
    background-color: var(--secondary-300);
    border: solid 1px var(--text-secondary);
    border-radius: 8px;
    height: 48px;
    color: var(--text-primary);
    padding: 10px;
    width: 100%;
}

.password-input-container .input-container input::placeholder{
    color: var(--text-secondary);
}

.password-input-container .input-container input:focus {
    outline: none;
}

.password-input-container .input-container .show-password {
    position: absolute;
    top: 25%;
    right: 10px;
    color: var(--text-secondary);
    transition: all 0.3s;
}

.password-input-container .input-container .show-password:hover {
    color: var(--text-primary);
    cursor: pointer;
}